$background-color: rgb(8, 8, 8);
$primary-color: #fff;
$secondary-color: rgb(112, 112, 112);
$third-color: rgb(20, 20, 20);
$paragraph-color: rgb(216, 216, 216);
$button-color: rgb(45, 45, 45);
$list-lines-color: rgb(35, 35, 35);